---
import AboutMe from "../components/AboutMe.astro"
import Experience from "../components/Experience.astro"
import Footer from "../components/Footer.astro"
import Home from "../components/Home.astro"
import Projects from "../components/Projects.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Porfolio"
  description="Esta es mi porfolio profesional en el cual despues de un año de aprendizaje autodidacta, demuestro todos mis conocimientos"
>
  <main
    class="px-10 md:px-0 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  >
    <Home />
    <Projects />
    <Experience />
    <AboutMe />
    <Footer />
  </main>
</Layout>
