---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Porfolio"
  description="Esta es mi porfolio profesional en el cual despues de un año de aprendizaje autodidacta, demuestro todos mis conocimientos"
>
  <h1>Hola, bienvenido a mi Porfolio</h1>
</Layout>
