---
import AboutMeTitle from "./icons/AboutMeTitle.astro"

import { technologies } from "../data/technologies"
---

<section>
  <h2 class="text-4xl font-bold mb-6 flex gap-4 items-center underline">
    <AboutMeTitle class="w-10 h-10" />
    Sobre mí
  </h2>
  <div class="grid xl:grid-cols-2 gap-6">
    <div>
      <span class="text-4xl font-bold">Estudios</span>
      <div
        class="mt-6 [&>p]:mb-4 [&>p>strong]:text-purple-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
      >
        <p>
          Estudie la <strong
            >Licenciatura en tecnologías de la información</strong
          > en la <strong>Universidad de Guadalajara</strong>, donde adquirí
          amplios conocimientos en programación y descubrí mi pasión por el
          desarrollo web, el desarrollo móvil y el diseño gráfico.
        </p>
        <p>
          Durante mi pasantía en las practicas profesionales, obtuve una nueva
          perspectiva en el mundo laboral y le tome un cariño especial a
          <strong>JavaScript y Python</strong>.
        </p>
        <p>
          Después de terminar la Licenciatura, profundicé en estudios
          independientes a través de la plataforma <strong>Platzi</strong>,
          perfeccionando habilidades en mis lenguajes de programación favoritos
          y obteniendo conocimientos en varios lenguajes, frameworks, librerías,
          etc.
        </p>
      </div>
    </div>
    <div>
      <span class="text-4xl font-bold">Tecnologías</span>
      <div class="bg-slate-500/20 border border-slate-700 rounded-lg mt-6">
        <div class="grid grid-cols-4 grid-rows-3 py-5 px-3 gap-4">
          {
            technologies.map((tech) => (
              <div class="flex flex-col justify-center items-center">
                <img class="w-14" src={tech.icon} alt={tech.name} />
                <p>{tech.name}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
