---
import AboutMeTitle from "./icons/AboutMeTitle.astro"

const technologies = [
  {
    name: "JavaScript",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/js.svg"
  },
  {
    name: "HTML",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/html.svg"
  },
  {
    name: "CSS",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/css.svg"
  },
  {
    name: "Python",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/python.svg"
  },
  {
    name: "Java",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/java.svg"
  },
  {
    name: "React",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/react.svg"
  },
  {
    name: "Vue.js",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/vuejs.svg"
  },
  {
    name: "Astro",
    icon: ""
  },
  {
    name: "Nodejs",
    icon: ""
  },
  {
    name: "Tailwind CSS",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/tailwindcss.svg"
  },
  {
    name: "PHP",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/php.svg"
  },
  {
    name: "MySQL",
    icon: "https://raw.githubusercontent.com/AdrianGerman/Portfolio/99e5cbe4db594043b8f3a7f839996d1a28fc5580/img/icons/mysql.svg"
  }
]
---

<section>
  <h2 class="text-4xl font-bold mb-6 flex gap-4 items-center underline">
    <AboutMeTitle class="w-10 h-10" />
    Sobre mí
  </h2>
</section>
