---
import ExperienceTitle from "./icons/ExperienceTitle.astro"
import { EXPERIENCE } from "../data/experience"
---

<section id="experience" class="mt-60 mb-60">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold mb-6 flex gap-4 items-center underline">
      <ExperienceTitle class="w-10 h-10" />
      Experiencia laboral
    </h2>
    <div class="space-y-8">
      {
        EXPERIENCE.map((job) => (
          <div class="bg-slate-950/60 border border-slate-900 p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold">{job.title}</h3>
            <p class="text-sm text-gray-500">
              {job.company} | {job.duration}
            </p>
            <ul class="mt-4 list-disc list-inside text-gray-100 space-y-2">
              {job.description}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
