---
import Github from "./icons/Github.astro"
import Linkedin from "./icons/Linkedin.astro"
import CV from "./icons/CV.astro"
---

<section
  class="flex h-dvh justify-center items-center gap-12 flex-col sm:flex-row px-8"
>
  <div>
    <img
      src="https://raw.githubusercontent.com/AdrianGerman/Portfolio/refs/heads/main/img/me-purple.png"
      alt="mi foto de perfil"
      class="w-60 h-60 rounded-xl z-10 absolute"
    />
    <div
      class="relative w-60 h-60 border-2 border-purple-900 rounded-xl bottom-3 right-3 z-0"
    >
    </div>
  </div>
  <div class="flex flex-col justify-center gap-6">
    <span>
      <p>Hola, mi nombre es</p>
      <h1 class="text-4xl font-bold">
        Adrian Germán. <br /> Desarrollador full stack
      </h1>
    </span>
    <div class="flex gap-2">
      <a
        href="https://github.com/AdrianGerman"
        target="_blank"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <Github />
      </a>
      <a
        href="https://www.linkedin.com/in/adrian-german/"
        target="_blank"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <Linkedin />
      </a>
      <a
        href="/assets/German_Becerra_CV.pdf"
        target="_blank"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <CV />
      </a>
    </div>
  </div>
</section>
