---
import Github from "./icons/Github.astro"
import Linkedin from "./icons/Linkedin.astro"
import CV from "./icons/CV.astro"
---

<section
  class="flex sm:h-[700px] 2xl:h-[1000px] py-20 justify-center items-center gap-12 flex-col md:flex-row px-8 animate-fade-in-up"
>
  <div>
    <img
      id="profileImage"
      src="https://raw.githubusercontent.com/AdrianGerman/Portfolio/refs/heads/main/img/me-purple.png"
      alt="mi foto de perfil"
      class="w-64 h-64 rounded-xl z-10 absolute transition transform duration-300 hover:shadow-image-shadow cursor-pointer"
    />
    <div
      class="relative w-64 h-64 border-2 border-purple-900 rounded-xl bottom-3 right-3 z-0"
    >
    </div>
  </div>

  <div class="flex flex-col justify-center gap-6">
    <span>
      <p class="text-purple-700 font-bold text-lg">Hola, mi nombre es</p>
      <h1 class="text-5xl font-bold">
        Adrian Germán. <br /> Desarrollador full stack
      </h1>
    </span>
    <div class="flex gap-2">
      <a
        href="https://github.com/AdrianGerman"
        target="_blank"
        title="GitHub"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <Github />
      </a>
      <a
        href="https://www.linkedin.com/in/adrian-german/"
        target="_blank"
        title="Linkedin"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <Linkedin />
      </a>
      <a
        href="/assets/German_Becerra_CV.pdf"
        target="_blank"
        title="CV"
        class="fill-white transform transition duration-300 hover:fill-purple-200 hover:scale-105 cursor-pointer"
      >
        <CV />
      </a>
    </div>
  </div>
</section>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const image = document.getElementById("profileImage")
    const defaultSrc =
      "https://raw.githubusercontent.com/AdrianGerman/Portfolio/refs/heads/main/img/me-purple.png"
    const secondSrc =
      "https://pbs.twimg.com/profile_images/1776312145816227840/ISlE225__400x400.jpg"

    const savedSrc = localStorage.getItem("profileImageSrc")

    if (savedSrc) {
      image.src = savedSrc
    } else {
      image.src = defaultSrc
    }

    image.addEventListener("click", (event) => {
      const currentSrc = event.currentTarget.src

      if (currentSrc.includes("me-purple.png")) {
        event.currentTarget.src = secondSrc
      } else {
        event.currentTarget.src = defaultSrc
      }

      localStorage.setItem("profileImageSrc", event.currentTarget.src)
    })
  })
</script>
