---
import "@fontsource-variable/onest"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative overflow-x-hidden">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[radial-gradient(#dddddd_1px,#ffffff_1px)] bg-[size:20px_20px] dark:bg-gray-950 dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)]"
    >
    </div>
    <slot />
  </body>
</html>

<style>
  html {
    font-family: "Onest Variable", sans-serif;
  }

  body {
    margin: 0;
    background-color: #171717;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
